<!-- NOTIFICATIONS -->
<div class="row notification" id="success" style="display: none;">
  <p id="msg"></p>
</div>

<div class="row notification" id="error" style="display: none;">
  <p id="msg"></p>
</div>