<nav class="navbar navbar-dark navbar-expand-sm">
  <!-- LOGO -->
  <a class="navbar-brand" href="/">
    <img src="/images/MooseLogo.png" height="50" alt="">
  </a>

  <!-- COLLAPSE BUTTON -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- MENU ITEMS -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"><span class="fa fa-home"></span> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/roster"><span class="fa fa-list"></span> Roster</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/military"><span class="fa fa-star"></span> Military</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/physical"><span class="fa fa-heartbeat"></span> Physical</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/academics"><span class="fa fa-graduation-cap"></span> Academics</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <% if (user) { %>
      <li class="nav-item">
        <a class="nav-link" href="/profile"><span class="fa fa-user"></span> Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout"><span class="fa fa-sign-out"></span> Log Out</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/register"><span class="fa fa-user"></span> Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login"><span class="fa fa-sign-in"></span> Login</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
