<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container no-shadow">

    <!-- NAVBAR LEFT -->
    <ul class="nav navbar-nav">
      <li><img src="/images/MooseLogo.png" alt=""></li>
      <li class="spacer"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li><a href="/db"><span class="glyphicon glyphicon-list-alt"></span> Database</a></li>
      <li><a href="/military"><span class="glyphicon glyphicon-star"></span> Military</a></li>
      <li><a href="/physical"><span class="glyphicon glyphicon-heart"></span> Physical</a></li>
      <li><a href="/academics"><span class="glyphicon glyphicon-education"></span> Academics</a></li>
    </ul>

    <!-- NAVBAR RIGHT -->
    <ul class="nav navbar-nav navbar-right">
      <% if (user && user != null) { %>
      <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
      <% } else { %>
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <% } %>
    </ul>

  </div>
</nav>
