<script src='https://cdn.tiny.cloud/1/<%= process.env.TINYAPI %>/tinymce/5/tinymce.min.js' referrerpolicy='origin'></script>
<script>
  tinymce.init({
    plugins: 'table autoresize',
    selector: '.postDisplay',
    readonly: 1,
    width: '95%',
    toolbar: false,
    menubar: false,
    autoresize_bottom_margin: 0,
    max_height: 800,
    content_style: "body { background: rgb(104, 104, 104); }",
    setup: function(e) { e.on('init', function() {
       this.getContainer().style['border-radius'] = '10px'
       this.getContainer().style['margin-bottom'] = '10px'
    })}
  })

  <% if (data.posts) { %>
  let posts = <%- JSON.stringify(data.posts) %>
  <% } else { %>
  let posts = null
  <% } %>
  let postContainers = {}
  function setPost(container, idx) {
    if (posts && posts[container.toLowerCase()].length != 0) {
      let post = posts[container.toLowerCase()][idx]
      $('#postTitle' + container).html(atob(post.title))
      $('#postInfo' + container).html("CDT " + post.author.toUpperCase() + " - " + post.date)
      tinymce.get('postDisplay' + container).setContent(atob(post.text))

      if (container in postContainers)
        postContainers[container]['curPost'] = idx
      else
        postContainers[container] = { 'curPost': idx, 'numPosts': posts[container.toLowerCase()].length }

      if (postContainers[container]['numPosts'] > idx + 1) $('#next' + container).show()
      else $('#next' + container).hide()

      if (idx > 0) $('#prev' + container).show()
      else $('#prev' + container).hide()
    } else {
      $('#postTitle' + container).html("No Posts To Display")
      tinymce.get('postDisplay' + container).setContent("<p style='text-align: center'>Use the staff tools to write your first post.</p>")
    }
  }

  function next(container) {
    if (postContainers[container]['numPosts'] > postContainers[container]['curPost'] + 1) {
      setPost(container, ++postContainers[container]['curPost'])
    }
  }

  function previous(container) {
    if (postContainers[container]['curPost'] > 0) {
      setPost(container, --postContainers[container]['curPost'])
    }
  }
</script>