<!doctype html>
<html lang="en">
<head>
  <% include ../../partials/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/staff-tools.css">
  <title>Staff Tools</title>
</head>

<body>

  <% include ../../partials/nav.ejs %>

  <!-- CONTENT -->
  <div class="container-fluid">

    <!-- DISPLAYS -->
    <% include ../../partials/displays.ejs %>
    
    <!-- MAIN -->
    <div class="row">
      <div class="content-box">
        <div class="row">
          <h1>Staff Tools</h1>
        </div>
        <div class="row">
          <select name="tool" form="tool-select">
            <option value="" selected>No tool selected</option>
            <% data['sess-tools'].forEach(tool => { %>
            <option value="<%= tool %>"><%= tool %></option>
            <% }) %>
          </select>
        </div>
        <div class="row">
          <form action="/staff/tool-select" id="tool-select" method="post">
            <button class="tool-select-button" type="submit">Select</button>
          </form>
        </div>
    
        <div class="row">
        <% if (data['sess-tool'] == "Assign Jobs") { %>
          <% include ../../partials/staff-tools/assign-jobs.ejs %>
        <% } else if (data['sess-tool'] == "Write Post") { %>
          <% include ../../partials/staff-tools/write-post.ejs %>
        <% } else if (data['sess-tool'] == "Assign Tools") { %>
          <% include ../../partials/staff-tools/assign-tools.ejs %>
        <% } else if (data['sess-tool'] == "Assign Positions") { %>
          <% include ../../partials/staff-tools/assign-positions.ejs %>
        <% } else if (data['sess-tool'] == "Assign Rooms") { %>
          <% include ../../partials/staff-tools/assign-rooms.ejs %>
        <% } else { %>
          <div class="sub-content-box">
            <h2>No Tool Selected</h2>
            <p>Use the tool selection above to select from your available tools.</p>
          </div>
        <% } %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
