form h1 {
  margin-bottom: 25px;
}

form input {
  width: 60%;
  padding: 2px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
}

form label {
  margin-top: 15px;
  margin-bottom: 5px;
}

form input:focus {
  background-color: lightgray;
}

form button {
  margin-bottom: 25px;
  margin-top: 15px;
  color: black;
}