<div class="col-sm-12">
  <div class="sub-content-box">
    <h2>Assign Tools</h2>

    <div class="row">
      <select class="toolSelect" onchange="populateJobs()" required>
        <option value="" selected disabled>No tool selected</option>
        <% for (var tool_name in data.tools) { %>
        <option value="<%= tool_name %>"><%= tool_name %></option>
        <% } %>
      </select>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <select class="jobsRemove" size="10" style="min-width: 100px" multiple></select>
      </div>

      <div class="col-md-1">
        <div class="row">
          <button onclick="moveRight()">&rarr;</button>
        </div>
        <div class="row">
          <button onclick="moveLeft()">&larr;</button>
        </div>
      </div>
      
      <div class="col-md-3">
        <select class="jobsAdd" size="10" style="min-width: 100px" multiple></select>
      </div>
      <div class="col-md-2"></div>
    </div>
      
    <form onsubmit="submitForm()" method="post">
      <input type="text" name="tool" id="toolSubmit" hidden>
      <input type="text" name="jobs" id="jobsSubmit" hidden>
      <div class="row">
        <button type="submit" formaction="/staff/tools/assign-tools">Submit</button>
      </div>
    </form>
  </div>
</div>

<div class="col-sm-12">
  <div class="sub-content-box">
    <h2>Create Tool</h2>
    <div class="row">
      <div class="text">
        <p>Note: tool will be assigned to ISO by default.</p>
      </div>
    </div>

    <form action="/staff/tools/create-tools" method="post">
      <div class="row">
        <input type="text" name="tool" placeholder="Enter tool name..." required>
      </div>
      <div class="row">
        <button type="submit">Create</button>
      </div>
    </form>
  </div>
</div>

<script>
  let jobs = <%- JSON.stringify(data.jobs) %>
  let tools = <%- JSON.stringify(data.tools) %>
  function populateJobs() {
    $('.jobsRemove, .jobsAdd').empty()

    tools[$('.toolSelect option:selected').val()].forEach(job_id => {
      $('.jobsAdd').append(`<option value="${job_id}">${jobs[job_id]}</option>`)
    })
    for (var job_id in jobs) {
      if ($(`.jobsAdd option[value='${job_id}']`).length == 0)
        $('.jobsRemove').append(`<option value="${job_id}">${jobs[job_id]}</option>`)
    }
  }

  function moveLeft() {
    $('.jobsAdd option:selected').remove().appendTo('.jobsRemove')
  }

  function moveRight() {
    $('.jobsRemove option:selected').remove().appendTo('.jobsAdd')
  }

  function submitForm() {
    let jobs = $('.jobsAdd option').map((index, option) => option.value).toArray()
    $('#jobsSubmit').val(btoa(jobs.toString()))
    $('#toolSubmit').val($('.toolSelect option:selected').val())
  }
</script>