<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/roster.css">
  <title>Roster</title>
</head>

<body>

  <% include ../../partials/nav.ejs %>

  <!-- CONTENT -->
  <div class="container-fluid">

    <!-- DISPLAYS -->
    <% include ../../partials/displays.ejs %>

    <!-- MAIN -->
    <div class="row">
      <div class="content-box">
        <div class="row">
          <h1>Company Roster</h1>
        </div>

        <div class="row">
          <div class="controls">
            <select id="order">
              <option value="" selected>Sort by...</option>
              <option value="academicyear">Graduation Year</option>
              <option value="shortname">Position</option>
              <option value="lastname">Last Name</option>
              <option value="firstname">First Name</option>
              <option value="middleinitial">Middle Initial</option>
              <option value="platoon">Platoon</option>
              <option value="squad">Squad</option>
              <option value="room">Room #</option>
              <option value="major">Major</option>
            </select>
            <input type="checkbox" id="desc" value="desc"> Reverse
          </div>
        </div>

        <script src="ajax/roster.js"></script>
        <div class="row" id="spinner">
          <img src="/images/spinner.gif" style="display:block;margin-left:auto;margin-right:auto;width:5%;">
        </div>
        <div class="row" id="roster" style="display: none;">
          <table id="roster">
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
