<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <!-- CONTAINER 1 -->
  <div class="container">
    <h1>Academics Page Coming Soon!</h1>
  </div>

</body>
</html>
