<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

  <!-- CONTAINER 1 -->
  <div class="container">
    <div class="row col-md-12 text-center">
      <h1>Company Database</h1>
      <div class="search-options">
        <label for="sortbox">Sort by:</label>
        <select name="sortbox" id="sortbox"></select>
        <input type="search" name="searchbox" id="searchbox" placeholder="Search...">
        <button type="submit">Search</button>
      </div>

      <div class="table">
        <table id="results-table">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Middle Initial</th>
            <th>AY</th>
          </tr>
          <% results.forEach(function(r) { %}>
          <tr>
            <td><%= r.firstname %></td>
            <td><%= r.lastname %></td>
            <td><%= r.middlename %></td>
            <td><%= r.ay %></td>
          </tr>
          <% }); %>
        </table>
      </div>
    </div>
  </div>

</body>
</html>
