<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>

  <% include ../partials/nav.ejs %>

  <!-- IMAGES -->
  <div class="mooselandia">
    <img class="img1" src="/images/mooselandia.png" alt="Mooselandia">
    <img class="img2" src="/images/ring_weekend.jpg" alt="Ring Weekend">
  </div>

  <!-- CONTAINER 1 -->
  <div class="container">
    <div class="row col-md-12 text-center">
      <h1 id="greeting"></h1>
    </div>

    <div class="row">
      <div class="sub-container col-md-6">
        <h2>Trackers</h2>
        <ul id="trackerlist">
          <li>Test Item</li>
          <li>Test Item 2</li>
        </ul>
      </div>

      <div class="sub-container col-md-6">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="https://drive.google.com/drive/folders/193ZRZDNopWNEvssia45B0bheHEIrUmtu?usp=sharing" target="_blank">Cyber Awareness Training Documents</a></li>
          <li><a href="https://cis.westpoint.edu/cis/login/logon.cfm" target="_blank">New CIS Link</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/194UBacnUP7pwCmJqtawG3ZoPhhC7kns8DsUbiuQJbEs" target="_blank">CGR Roster</a></li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>
