<!doctype html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>

  <% include ../partials/nav.ejs %>

  <!-- CONTENT -->
  <div class="container-fluid">

    <!-- DISPLAYS -->
    <% include ../partials/displays.ejs %>

    <!-- IOTD -->
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <img class="iotd" src="/images/mooselandia.png" alt="Mooselandia">
      </div>
      <div class="col-md-3"></div>
    </div>
    
    <!-- MAIN -->
    <div class="row">
      <div class="content-box">
        <div class="row">
            <h1>Welcome to I-2</h1>
            <p class="motd"></p>
          </div>
    
          <div class="row">
            <div class="col-md-6">
              <div class="sub-content-box">
              <% if (data && data.posts) { %>
                <div class="row">
                  <h2 class="post-title"><%= data.posts[0].title %></h2>
                </div>
                <div class="row">
                  <p class="post-info"><%= data.posts[0].author %> - <%= data.posts[0].posted %></p>
                </div>
                <div class="row">
                  <p class="post-text"><%= data.posts[0].text %></p>
                </div>
              <% } else { %>
                <h2>No Posts to Display</h2>
                <p>Create a new post with the staff tools.</p>
              <% } %>
              </div>
            </div>
    
            <div class="col-md-6">
              <div class="sub-content-box">
                <h2>Quick Links</h2>
                <ul>
                  <li><a href="https://drive.google.com/drive/folders/193ZRZDNopWNEvssia45B0bheHEIrUmtu?usp=sharing" target="_blank">Cyber Awareness Training Documents</a></li>
                  <li><a href="https://cis.westpoint.edu/cis/login/logon.cfm" target="_blank">New CIS Link</a></li>
                  <li><a href="https://docs.google.com/spreadsheets/d/194UBacnUP7pwCmJqtawG3ZoPhhC7kns8DsUbiuQJbEs" target="_blank">CGR Roster</a></li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</body>
</html>
