<!doctype html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/home.css">
  <title>Home</title>
</head>

<body onload="setPost('Home',0);setPost('History',0)">

  <% include ../partials/nav.ejs %>

  <!-- CONTENT -->
  <div class="container-fluid">

    <!-- DISPLAYS -->
    <% include ../partials/displays.ejs %>

    <!-- IOTD -->
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <img class="iotd" src="/images/mooselandia.png" alt="Mooselandia">
      </div>
      <div class="col-md-3"></div>
    </div>
    
    <!-- MAIN -->
    <div class="row">
      <div class="content-box">
        <div class="row">
            <h1>Welcome to I-2</h1>
            <p class="motd"></p>
          </div>
    
          <div class="row">
          <% include ../partials/setPost.ejs %>

            <!-- HOME POSTS -->
            <div class="col-md-6">
              <div class="sub-content-box">
                <noscript>
                  <style type="text/css">
                    .scripted {display:none;}
                  </style>
                  <div class="row">
                    <h2>You Don't Have JavaScript Enabled</h2>
                  </div>
                  <div class="row">
                    <p>This probably means you're using Internet Explorer. Please do yourself a favor and get Google Chrome or Firefox, then you'll get a lot more cool stuff from this site.</p>
                  </div>
                </noscript>

                <div class="scripted">
                  <div class="row">
                    <h2 class="post-title" id="postTitleHome"></h2>
                  </div>
                  <div class="row">
                    <p class="post-info" id="postInfoHome"></p>
                  </div>
                  <div class="row">
                    <!-- <pre class="post-text" id="post-text-home"></pre> -->
                    <textarea class="postDisplay" id="postDisplayHome"></textarea>
                  </div>
                  <div class="row">
                    <button id="prevHome" class="prev" onclick="previous('Home')" style="display: none;">&larr; Newer</button>
                    <button id="nextHome" class="next" onclick="next('Home')" style="display: none;">Older &rarr;</button>
                  </div>
                </div>
              </div>
            </div>
    
            <!-- HISTORY POSTS -->
            <div class="col-md-6">
              <div class="sub-content-box">
                <noscript>
                  <div class="row">
                    <h2>You Don't Have JavaScript Enabled</h2>
                  </div>
                  <div class="row">
                    <p>This probably means you're using Internet Explorer. Please do yourself a favor and get Google Chrome or Firefox, then you'll get a lot more cool stuff from this site.</p>
                  </div>
                </noscript>

                <div class="scripted">
                  <div class="row">
                    <h2 class="post-title" id="postTitleHistory"></h2>
                  </div>
                  <div class="row">
                    <p class="post-info" id="postInfoHistory"></p>
                  </div>
                  <div class="row">
                    <!-- <pre class="post-text" id="post-text-history"></pre> -->
                    <textarea class="postDisplay" id="postDisplayHistory"></textarea>
                  </div>
                  <div class="row">
                    <button id="prevHistory" class="prev" onclick="previous('History')" style="display: none;">&larr; Newer</button>
                    <button id="nextHistory" class="next" onclick="next('History')" style="display: none;">Older &rarr;</button>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</body>
</html>
