<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/form.css">
</head>

<body>

  <% include ../partials/nav.ejs %>

  <% if (locals.errors) { %>
    <% include ../partials/errors.ejs %>
  <% } %>

  <!-- CONTAINER 1 -->
  <div class="container-solo">
    <h3 class="section-title">Login</h3>

    <form action="/login" method="post">
      <div class="row">
        <label class="control-label"><b>Email</b></label>
        <input type="text" name="em" placeholder="Enter Email" required>
      </div>

      <div class="row">
        <label class="control-label"><b>Password</b></label>
        <input type="password" name="pw" placeholder="Enter Password" required>
      </div>
  
      <button type="submit">Login</button>
    </form>
  </div>

</body>
</html>
