<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Physical</title>
</head>

<body onload="setPost(0)">

  <% include ../partials/nav.ejs %>

  <!-- CONTENT -->
  <div class="container-fluid">

  <!-- DISPLAYS -->
  <% include ../partials/displays.ejs %>
    
    <!-- MAIN -->
    <div class="row">
      <div class="content-box">
        <div class="row">
          <h1>Physical</h1>
        </div>
    
        <div class="row">
          <div class="sub-content-box">
            <noscript>
              <style type="text/css">
                .scripted {display:none;}
              </style>
              <div class="row">
                <h2>You Don't Have JavaScript Enabled</h2>
              </div>
              <div class="row">
                <p>This probably means you're using Internet Explorer. Please do yourself a favor and get Google Chrome or Firefox, then you'll get a lot more cool stuff from this site.</p>
              </div>
            </noscript>
  
            <div class="scripted">
              <div class="row">
                <h2 class="post-title" id="post-title"></h2>
              </div>
              <div class="row">
                <p class="post-info" id="post-info"></p>
              </div>
              <div class="row">
                <div class="post-text" id="post-text"></div>
              </div>
              <div class="row">
                <button id="prev" class="prev" onclick="previous()" disabled hidden>< Newer</button>
                <button id="next" class="next" onclick="next()" disabled hidden>Older ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
  let curPost = 0
  let numPosts = 0
  let quillConverterContainer = document.createElement('div')
  let quillConverter = new Quill(quillConverterContainer)
  function setPost(idx) {
    let titleElement = document.getElementById('post-title')
    let infoElement = document.getElementById('post-info')
    let textElement = document.getElementById('post-text')
    <% if (data && data.posts) { %>
    let posts = <%- JSON.stringify(data.posts) %>
    <% } else { %>
    let posts = null
    <% } %>

    if (posts != null) {
      titleElement.innerHTML = posts[idx].title
      infoElement.innerHTML = "CDT " + posts[idx].author.toUpperCase() + " - " + posts[idx].date
      quillConverter.setContents(JSON.parse(posts[idx].text))
      textElement.innerHTML = quillConverter.root.innerHTML
      numPosts = posts.length
      curPost = idx
      
      let nextButton = document.getElementById('next')
      let prevButton = document.getElementById('prev')
      if (numPosts > idx + 1) {
        nextButton.hidden = false
        nextButton.disabled = false
      } else {
        nextButton.hidden = true
        nextButton.disabled = true
      }
      if (idx > 0) {
        prevButton.hidden = false
        prevButton.disabled = false
      } else {
        prevButton.hidden = true
        prevButton.disabled = true
      }
    } else {
      titleElement.innerHTML = "No Posts To Display"
      textElement.innerHTML = "Tell your PDO to write some posts!"
    }
  }

  function next() {
    if (numPosts > curPost + 1) {
      setPost(++curPost)
    }
  }

  function previous() {
    if (curPost > 0) {
      setPost(--curPost)
    }
  }
</script>
</body onload="setPost(0)">
</html>
