<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <!-- CONTENT -->
  <div class="container-fluid">

    <!-- DISPLAYS -->
    <% include ../partials/displays.ejs %>
    
    <!-- MAIN -->
    <div class="row">
      <div class="content-box">
        <div class="row">
          <h1>Physical</h1>
          <p class="motd"></p>
        </div>
    
        <div class="row">
          <h2>Coming Soon!</h2>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
