<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/form.css">
</head>

<body>

  <% include ../partials/nav.ejs %>

  <!-- CONTENT -->
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        
        <!-- DISPLAYS -->
        <% include ../partials/displays.ejs %>

        <!-- MAIN -->
        <div class="row">
          <div class="content-box">

            <form action="/profile/register" method="post">
              <div class="row">
                <h1>Register</h1>
              </div>
              <div class="row">
                  <label>First Name</label>
              </div>
              <div class="row">
                <input type="text" name="fn" placeholder="Enter Your First Name" required>
              </div>
              <div class="row">
                <label>Last Name</label>
              </div>
              <div class="row">
                <input type="text" name="ln" placeholder="Enter Your Last Name" required>
              </div>
              <div class="row">
                <label>X-Number</label>
              </div>
              <div class="row">
                <input type="text" name="xn" placeholder="Enter Your X-Number" required>
              </div>
              <div class="row">
                <label>Email</label>
              </div>
              <div class="row">
                <input type="text" name="em" placeholder="Enter Your Email" required>
              </div>
              <div class="row">
                <label>Password</label>
              </div>
              <div class="row">
                <input type="password" name="pw" placeholder="Enter A Password" required>
              </div>
              <div class="row">
                <label>Repeat Password</label>
              </div>
              <div class="row">
                <input type="password" name="pw2" placeholder="Repeat Password" required>
              </div>
              <div class="row">
                <button type="submit">Register</button>
              </div>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</body>
</html>
